# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environments
Pipfile.lock
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor files
.vscode/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.tar.gz
*.whl

# Pytest cache
.pytest_cache/

# Logs
*.log

# Temporary files
*.swp
*.swo
*.bak
*.tmp
*~

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows
